## MannWhitneyU Test

Ye bs two array/observations ko compare krne keliye kaam krte h

In [18]:
import numpy as np 
import pandas as pd

1. I have two Strategy i have no idea which distribution they follow 
2. I want to check -> is any among two  have significant edge over other ??
3. Ho -> Both folows same distribution means both strategy is giving similar return different is just of random

In [19]:
np.random.seed(42)
df = pd.DataFrame((np.random.uniform(3,5,50),np.random.uniform(4,6,50)))
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,3.749080,4.901429,4.463988,4.197317,3.312037,3.311989,3.116167,4.732352,4.202230,4.416145,...,3.244076,3.990354,3.068777,4.818641,3.517560,4.325045,3.623422,4.040136,4.093421,3.369709
1,5.939169,5.550266,5.878998,5.789655,5.195800,5.843748,4.176985,4.391966,4.090455,4.650661,...,4.239188,5.426490,5.521570,5.122554,5.541934,4.987591,5.045466,4.855082,4.050838,4.215783

1. x-> strategy1 with n1 observation,  
2. y-> strategy2 with n2 observation,
3. z-> combined both total observation is n

In [20]:
x = np.array(df.iloc[:1])
y = np.array(df.iloc[1:])
z = np.append(x,y)
n1 = len(x[0])
n2 = len(y[0])

1. Dono strategy ko ek line me dala aur sbko rank kiya isse pta chala kisme jyada bade number h jha number same the wha average diya 
2. Dono strategy ko rank me lekr likha aur sum kiya mtlb -> jisme jyada bade number the uska sum obvious jyada ayenge

In [21]:
rank = pd.Series(z).rank(method='average')
rank1 = rank[:len(x[0])]
rank2 = rank[len(x[0]):]
rank1sum = rank1.sum()
rank2sum = rank2.sum()

1. Dono ka whitneyU nikala aur jiska min h uska Whitney se aage proceed kiya 
2. fir mean aur std nikala given data se 
3. fir hamne z -score nikal liya

In [26]:
U1= n1*n2 + n1*(n1+1)/2 -rank1sum
U2 = n1*n2 + n2*(n2+1)/2 -rank2sum
U = min(U1,U2)
mean = n1*n2 / 2
var = n1*n2*(n1+n2+1) / 12
Z= (U-mean) / np.sqrt(var)
U

np.float64(274.0)

Zscore se p value nikala hu aur fir check kiya ki pcal. jyada h ya ni pcrit. se 
2. yha pe  pcalc. > pcrit. -> means failed to reject Ho :: dono strategy similar hi h bs wo randomly alg h koi significant best ni h

In [34]:
from scipy.stats import norm
p_value =2* (1 - norm.cdf(abs(Z)))
p_value

np.float64(1.7157608667162094e-11)

Yha pe hamne Scipy library ka use krte WhitneyU test ka value nikala aur manual method se compare kiya 
dono Almost same h means Ho fails to reject

In [28]:
from scipy.stats import mannwhitneyu
Ustats, pvalue = mannwhitneyu(x[0],y[0],method='asymptotic')
print(Ustats, pvalue)

274.0 1.75687387723286e-11

Yha pe koi tie(same value repeation) ni h wrna-> tie correction apply krna padta ni to bias aata result